
.cont{
     >.arrow{
        display: flex;
        gap:10px;
     }
     >.img1 img{
        width: 837px;
        height: 558.28px;
        top: 118px;
        left: 132px;
        margin-top: 12px;
     }
    .elo{
        //styleName: Text;
       font-family: DM Sans;
       font-size: 16px;
       font-weight: 700;
       line-height: 24px;
       letter-spacing: 0px;
       text-align: left;

    }
      head{
        //styleName: H1;
        font-family: DM Serif Display;
        font-size: 72px;
        font-weight: 400;
        line-height: 80px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 18px;
      }

      .cayla{
        display: flex;
        gap:10px;
      }

      .rect{
        display: flex;
        gap:24px;
      }
      .rec{
        margin-top: 12px;
      }
      .rect p{
        margin-top: 15px;
      }
      .name{
        //styleName: Text;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      .three{
        //styleName: Text;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      .altera{
        //styleName: Text_Gray;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 2px;
      }
      .rect img{
        height:60px;
      }
      .erro p{
        //styleName: Text_Gray;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

      }
}