
.yellow{
    background-color: yellow;
}
.comments-container{
    width: 100%;
    height: 684px;
    background-color: aquamarine;
}
.Comment-content{
    width: 217px;
    height: 48px;
    background-color: bisque;
    margin-left: 135px;
    margin-top: 2890px;
    font-weight: 400;
    font-size: 30px;
   text-align: center;
   line-height: 48px;

}
.image-container{
    margin-top: 35px;
}
.image-1{
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    border: 1px solid;
    display: flex;
}
.imag{
    width:20% ;
    height: 200px;
    background-color: beige;
}
.image-1-container{
    height: 200px;
    width: 80%;
    background-color: rgb(210, 210, 78);
}
.image-2{
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    border: 1px solid;
    display: flex;
}
.image-3{
    width: 100%;
    height: 200px;
    background-color: chartreuse;
    border: 1px solid;
    display: flex;
}