  @import "vinay.scss";
    @import "geetesh.scss";
    @import "chandan.scss";
    @import "poornima.scss";
    @import "nidhi.scss";
  
    body{
      background-color: rgba(67,76,204,0.0515);
    }
.article{
  width:80%;
  margin: auto;
  margin-top:5%;
  display: flex;
  justify-content:space-between;
  align-items: start;
  // gap:40px;
   .left{
    // padding-left: 1rem;
    // padding-right: 1rem;
    width:837px;
    background-color: none;
   }
   .right{
    // width:27%;
    // border: 2px solid black;
    // height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
   }
}
