  @import "vinay.scss";
    @import "geetesh.scss";
    @import "chandan.scss";
    @import "poornima.scss";
    @import "nidhi.scss";
  
    body{
      background-color: rgba(67,76,204,0.0515);
    }
.article{
  width:80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   .left{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 65%;
    background-color: none;
   }
   .right{
    width:26%;
    border: 2px solid black;
    height: 100px;
    background-color: none;
   }
}
