  @import "vinay.scss";
    @import "geetesh.scss";
    @import "chandan.scss";
    @import "poornima.scss";
    @import "nidhi.scss";
  
    body{
      background-color: rgba(67,76,204,0.0515);
    }
.article{
  width:80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
   .left{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 69%;
    background-color: none;
   }
   .right{
    width:21%;
    border: 2px solid black;
    // background-color: black;
    // height: 2200px
    background-color: none;
   }
}
