
#maluisset-to-related {
  margin-top: 1.59rem;
  #heading-maluisset {
    color: #000;
    /* H4 */
    font-family: DM Serif Display;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    margin-bottom:	1.4375rem;
  
  }
  .para-maluisset {
    color: rgba(0, 0, 0, 0.5);

    /* Text_Gray */
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    padding-right: 0.5625rem;
  }
  #list-maluisset {
    color: #000;

    /* Text */
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    p > span {
      margin-right: 0.5rem;
    }
  }
  .line-maluisset {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.1011;
    background: #000;
    margin-top: 1.4375rem;
    margin-right: 1.25rem;
    margin-bottom: 2.688rem;
  }
  #parro-share {
    display: flex;
    justify-content: space-between;
    #parro-btn {
      display: flex;
      gap: 0.875rem;
      flex-wrap: 0;
      > button {
        background: none;
        width: 4.125rem;
        height: 2rem;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid #434ccc;
        color: #434ccc;
        text-align: center;
        font-family: DM Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        //   line-height: 24px; /* 150% */
      }
    }
    #parro-share-on {
      display: flex;
      gap: 1.125rem;
      align-items: center;
      > p {
        color: rgba(0, 0, 0, 0.5);
        // text-align: right;

        /* Text_Gray */
        font-family: DM Sans;
        font-size: 1rem;
        // font-style: normal;
        font-weight: 400;
        // line-height: 24px; /* 150% */
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > p {
          &:nth-child(1) {
            margin-right: 0.813rem;
          }
          &:nth-child(2) {
            margin-right: 0.813rem;
          }
        }
      }
    }
  }
}
